.carousel-bg{
    background-image: url("../assets/Rectangle\ 9475.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 630px;
    /* border-radius: 25px; */
    /* width: 2200px;
    margin: 90px; */
}